body{
	font-family: serif;
	font-size: medium;
}
a{
	font-family: sans-serif;
}
.pages{
	margin-left: 20%;
	font-size: 200%;
	margin-right: 20%;
	text-align: justify;
}
h1{
	text-align: center;
	

}